body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #1f1f1f;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
  color: #e0e0e0;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 16px;
  background-color: #121212;
  color: #e0e0e0;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #bb86fc;
  border: none;
  border-radius: 4px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #9b67e0;
}

.message {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #e0e0e0;
}

.collapsible {
  cursor: pointer;
  padding: 10px;
  background-color: #bb86fc;
  color: #000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.collapsible:hover {
  background-color: #9b67e0;
}

.content {
  display: none;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 4px;
  margin-top: 10px;
}

.success {
  text-align: center;
  color: #e0e0e0;
}
